* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.banner {
    background-color: #f4f4f4;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.banner h1 {
    font-size: 2.5em;
}

.container {
    display: flex;
    height: 85vh;
}

.sidebar {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4e4;
}

.sidebar img {
    max-width: 90%;
    height: auto;
}

.main-content {
    width: 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
}

.main-content ul {
    list-style-type: none;
    text-align: center;
}

.main-content li {
    margin: 15px 0;
}

.main-content a {
    text-decoration: none;
    font-size: 1.5em;
    color: #333;
}

.main-content a:hover {
    color: #007bff;
}

.left {
    border-right: 2px solid #ddd;
}

.right {
    border-left: 2px solid #ddd;
}
